NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

PHONE_NUMBER= #your_phone_number

TELEGRAM_API_ID= #generate from https://my.telegram.org/apps
TELEGRAM_API_HASH= #generate from https://my.telegram.org/apps
TELEGRAM_SESSION= #generate from "@src/lib/telegram/generateTelegramSession"

JWT_ACCESS_SECRET= #run openssl rand -base64 32
JWT_REFRESH_SECRET= #run openssl rand -base64 32